@import url("https://use.typekit.net/doq2kfg.css");
@import url("https://use.typekit.net/doq2kfg.css");
body {
    font-family: "raleway";
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: "lindsey-signature", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
.hero {
  text-align: center;
}
.hero img {
  width: 100%;
  height: auto;
}
.other-images {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.bordered-image {
  border: 2px solid #000;
  border-radius: 8px;
  margin: 10px;
}
nav {
  background-color: #333;
  padding: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin: 0 15px;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.portfolio-images .bordered-image {
  width: 30%;
  margin: 10px;
}
.faq {
  padding: 20px;
   font-weight: bold;
}
.faq-item {
  margin-bottom: 20px;
}
.question {
  font-weight: bold;
}
.contact {
  padding: 20px;
}
.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.portfolio-images .bordered-image {
    width: 30%;
    margin: 10px;
}